/*** Base Styles ***/

* {
  box-sizing: border-box;
}

body {
	font-size: 1.2em;
	font-family: 'Varela Round', sans-serif;
  padding: 0;
  margin: 0;
	background: #e8e9e9;
  text-align: center;
}

.top-text {
  font-family: 'Fredericka the Great', cursive;
}

header {
  margin-top: 30px;
  margin-bottom: 30px;
}

input[type="search"] {
  width: 350px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #444;
  margin: auto;
}

::placeholder {
  text-align: left;
  padding-left: 10px;
}

/*** Grid Layout ***/

.gallery {
  max-width: 1000px;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 200px 200px;
  grid-gap: 25px;
}
