/*** Base Styles ***/

* {
  box-sizing: border-box;
}

body {
	font-size: 1.2em;
	font-family: 'Varela Round', sans-serif;
  padding: 0;
  margin: 0;
	background: #e8e9e9;
  text-align: center;
}

header {
  margin-top: 30px;
  margin-bottom: 30px;
}

input[type="search"] {
  width: 300px;
}

/*** Grid Layout ***/

.gallery {
  max-width: 800px;
  display: grid;
  margin: 45px auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
}
